<!doctype html>
<html>
    <%= partial "_shared/head" %>
    <body class="<%= page_classes %>">
      <%= partial "_shared/nav" %>

    <!-- Page Header -->
    <header class="intro-header" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('assets/images/yoga/<%= current_page.data.header_img %>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">

                        <% if current_page.data.title %>
                            <!-- <h1>
                              <%= current_page.data.title %>
                            </h1> -->
                        <% end %>
                        <div class="text-center">
                            <img src="assets/images/yoga/yoga_now_chicago_logo.gif" alt="">
                        </div>
                        <hr class="small">
                        <span class="subheading"><%= current_page.data.description %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <section class="main-container">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
                    <%= yield %>
                <!-- </div> -->
            </div>
        </div>
    </section>

    <%= partial "_shared/footer" %>
  </body>
</html>