<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% contact_items = data.menu.contact.menu_items %>
                    <% contact_items.each do |menu_item| %>
                        <% unless menu_item.label.nil? %>
                            <li class="text-small">
                                <span><%= menu_item.label %>:</span> <%= menu_item.value %>
                            </li>
                        <% end %>
                    <% end %>    
                </ul>
                <div class="clearfix"></div>
                <br>
                <ul class="list-inline text-center">
                    <% social_items = data.social.social_items %>
                    <% social_items.each do |social_item| %>
                        <% unless social_item.user_name.nil? %>
                        <li>
                            <a href="<%= social_item.url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa <%= social_item.fa_icon %> fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>                        
                        <% end %>
                    <% end %>                 
                </ul>
                <p class="copyright text-muted">Copyright &copy; <%= data.site.copyright_year %> <%= data.site.org_name %></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery and Bootstrap -->
 <%= javascript_include_tag "global", "all" %>
