<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= data.site.project_name %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <% menu_items = data.menu.main.menu_items %>
                <% menu_items.each do |menu_item| %>
                    <% unless menu_item.name.nil? %>
                        <% if menu_item.submenu.present? %>
                            <li class="dropdown">
                                <a href="<%= menu_item.url %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= menu_item.name %> <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <% menu_item.submenu.each do |sub_item| %>
                                        <% unless sub_item.name.nil? %>
                                            <li><a href="<%= sub_item.url %>"><%= sub_item.name %></a></li>
                                            <li class="divider"></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </li>
                        <% else %>
                            <li>
                                <a href="<%= menu_item.url %>"><%= menu_item.name %></a>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
                <li class="search-menu">
                    <i class="fa fa-search"></i>
                    <div class="col-sm-3 col-md-3">
                        <form class="navbar-form" role="search" action="" method="GET" id="search-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search featured snippets" name="q" style="padding:6px 6px;">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
