---
layout: page
title: Yoga Now
description: "Prices"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
        <div class="row">

            <div class="col-sm-6 col-lg-6">
                <p><img src="assets/images/yoga/bliss-tribe-kirtan-band-june-2011.jpg" alt="kirtan band june 2011"></p>
            </div>

            <div class="col-sm-6 col-lg-6">
                <p>Welcome to the website for Amy and the Bliss Tribe.&nbsp; Come see us play:</p>

                <ul>
                    <li><strong>Sunday Nov. 9th 8:00p.m.&nbsp; to 8:30p.m. Opening Chi!Ka!Go! at Yoga Now</strong></li>
                </ul>
                <p><strong>Kirtan&nbsp;</strong> is a joyous celebration in music in Sanskrit.&nbsp; The repetition of the mantras creates a relaxed state in the mind which is both peaceful and joyous.&nbsp; The word Kirtan comes form the Sanskrit root “kirt” which means “to name, to communicate, to celebrate, to praise, to glorify.” Kirtan can be seen as a bridge between our outer and inner selves and an &nbsp;expression of our desire to know and love God within.&nbsp; We bring in spirit through our joy and our music and we hope you will join us!</p>
                <p>Usual members include:</p>
                <ul>
                    <li><em>Amy Beth Treciokas: </em>harmonium and vocals</li>
                    <li><em>Brent Roman: </em>percussion</li>
                    <li><em>Oli Buc</em>: guitar</li>
                    <li><em>Eric Majeski</em> : guitar and vocal<em>s</em></li>
                </ul>
                <p>For more information, or to book a gig, please contact Amy at (312) 505-9814 or&nbsp;<a href="mailto:amy@yoganowchicago.com" onclick="_gaq.push(['_trackEvent','mailto','amy@yoganowchicago.com']);">amy@yoganowchicago.com</a></p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12 text-center">
                <h3>Purchase our music by clicking this cd cover.</h3>
                <p>
                    <a href="http://www.cdbaby.com/cd/amyananda" target="_blank"><img src="assets/images/yoga/amyananda-karma-is-the-singer.jpg" alt="amyananda"></a>
                </p>
                <p class="socials-links">
                    <a href="http://www.facebook.com/event.php?eid=131372704431&amp;index=1" target="_blank">
                    <img src="assets/images/yoga/facebook-amy-ananda.png" alt="facebook" width="64" height="64"></a>
                    <a href="http://www.myspace.com/blisstribe" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.myspace.com/blisstribe', 'Myspace']);"><img src="assets/images/yoga/myspace_logo.png" alt="Myspace" width='62px'></a>
                </p>
            </div>
        </div>
  	</section>
</div><!-- .welcome -->