---
layout: page
title: Contact Us
description: "Yoga Now"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
	<section>
		<div class="col-lg-6">
			<p>To Contact Us:<br>
			Please Email info@yoganowchicago.com<br>
			or Call the studio 312 280 9642</p>
			<p>We are located at 742 N. LaSalle, Suite 201<br>
			Chicago, IL 60654</p>
		</div>
		<div class="col-lg-6">
			<iframe id="blockrandom" name="iframe" src="http://visitor.constantcontact.com/d.jsp?m=1101065259999&amp;p=oi" height="500" width="100%" frameborder="0" scrolling="auto" align="top"></iframe>
		</div>
	</section>
</div><!-- .welcome -->