---
layout: page
title: Yoga Now
description: "Massage"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<p>Yoga Now provides inspiring, soulful transformation through yoga classes and massages in an eco-friendly studio and in the workplace.  We are committed to providing yoga and healing which creates a healthy body and promotes a long and peaceful life.</p>

        <p>Yoga Now has classes in a variety of yoga disciplines, Ashtanga, Vinyasa, Forrest, Jivamukti, Yoga Basics and PreNatal yoga.  We have a steam room and sauna, and 2 massage rooms for healing and relaxation in addition to our yoga offerings.  We offer a well-regarded Teacher Training program twice a year, with one session starting in March and another session starting in September.</p>

        <p>Our studio is built of all eco-friendly materials with earthen clay plasters on the walls, recycled blue jeans for insulation, and renewable bamboo floors.</p>

        <div class="text-center">
            <img src="assets/images/yoga/yoganowchicago-gold-coast-studio-pictures.jpg" class="img-responsive" alt="">
        </div>
  	</section>
</div><!-- .welcome -->