---
layout: page
title: Yoga Now
description: "Prices"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<div class="row">
        <div class="col-md-4 col-lg-4">
          <p><a href="#"> <img alt="Gold Coast Business Card" src="assets/images/yoga/business_card.gif" width="250" height="114" border="0"> </a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <h2>MASS TRANSIT</h2>
          <p>Take the <strong>Brownline</strong> to the <strong>Chicago Ave.</strong> stop, exit at Superior St. Walk two blocks East to LaSalle St. Turn left, walk half a block to 742 N. LaSalle, 2nd floor.</p>
          <p>From the Redline, exit Chicago Ave. stop, walk four blocks west on Chicago Ave., to LaSalle, turn left to 742 La. Salle, 2nd floor.</p>
        </div>

        <div class="col-md-4 col-lg-4">
          <h2>DRIVING FROM THE NORTHERN SUBURBS</h2>
          <p>Drive South on Green Bay to Ridge Avenue. Follow Ridge as it turns to Hollywood to Lake Shore Drive. Exit Lake Shore Drive at Chicago Avenue and Drive West to LaSalle.</p>
        </div>

        <div class="col-md-4 col-lg-4">
          <h2>PARKING</h2>
          <p>Validated Parking ($10) is available directly behind the building. Enter parking from Chicago Ave.</p>
          </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <iframe id="blockrandom" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=742+N.+LaSalle+chicago&amp;sll=37.0625,-95.677068&amp;sspn=63.384331,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=742+N+Lasalle+Blvd,+Chicago,+Cook,+Illinois+60654&amp;ll=41.895815,-87.632803&amp;spn=0.00371,0.008256&amp;z=14&amp;output=embed" height="240" width="320" border='0'></iframe><br>

          <a style="text-align: left;" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=742+N.+LaSalle+chicago&amp;sll=37.0625,-95.677068&amp;sspn=63.384331,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=742+N+Lasalle+Blvd,+Chicago,+Cook,+Illinois+60654&amp;ll=41.895815,-87.632803&amp;spn=0.00371,0.008256&amp;z=14" target="_blank"> <p class="text-center"> View Larger Map</p></a>
        </div>
        <div class="col-md-4 col-lg-4">
          <p><a href="assets/images/yoga/yoga_now_practice_area.jpg" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://yoganowchicago.wpengine.com/wp-content/uploads/2013/03/yoga_now_practice_area.jpg', '']);"><img class="size-full wp-image-105" alt="yoga_now_practice_area" src="http://yoganowchicago.wpengine.com/wp-content/uploads/2013/03/yoga_now_practice_area.jpg" width="250" height="175"></a></p>
        </div>
      </div>
    </section>
</div><!-- .welcome -->