---
layout: page
title: Yoga Now
description: "Home"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<script type="text/javascript">
  		  healcode_widget_id = "d91495k4rx";
  		  healcode_widget_name = "staff_lists";
  		  healcode_widget_type = "mb";
  		  document.write(unescape("%3Cscript src='https://www.healcode.com/javascripts/hc_widget.js' type='text/javascript'%3E%3C/script%3E"));
  		  // Healcode Staff List Widget for Yoga Now Chicago : Healers
  		</script>
  		<noscript>Please enable Javascript in order to get
  		  <a href="https://www.healcode.com" target="_blank">HealCode</a> functionality
  		</noscript>
  	</section>
</div><!-- .welcome -->