---
layout: page
title: Yoga Now
description: "Home"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<aside class='col-lg-4 sidebar'>
	    <h2>Yoga Sale</h2>
	    <p>10 Classes for $105<br>20 Classes for $199</p>
	    <article><span style="text-decoration: underline;">New Student Specials</span></article>
	    <article>1 Month of Yoga for $49<br> 3 Yoga Classes for $29</article>
	    <p>(new students only)<br/>
			<a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Buy Now</a><br/>
	    (sale valid 1/22 to 1/28)</p>
	    <hr>
	    <p>Yoga Now Advanced Teacher Training (RYT-500)
	        <br> with Amy Beth Treciokas
	        <br> starts January 25, 2015</p>
	    <p><a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Find Out More</a>
	    </p>
	    <hr>
	    <p>Yoga Now Spring Teacher Training (RYT-200)
	        <br> with Amy Beth Treciokas
	        <br> starts March 7, 2015</p>
	    <article><a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Find Out More</a>
	    </article>
	    <hr>
	    <article><strong>Fundamentals of Ayurveda:</strong>
	        <br> Tools for Life with Hilary Garivaltis
	        <br> Dates: Feb. 14-22, 2015
	        <br> April 18-26, 2015
	        <br> May 16-17, 2015
	        <br>
	        <a href="http://yoganowchicago.com/wp-content/uploads/2013/03/Hilary-1x1-copy.jpg"><img class="alignleft size-thumbnail wp-image-233" src="http://yoganowchicago.com/wp-content/uploads/2013/03/Hilary-1x1-copy-150x150.jpg" alt="Hilary 1x1 copy" width="150" height="150">
	        </a>Come Learn the core concepts and fundamental principles of Ayurveda, including its philosophical approach and its practical applications<a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Find Out More</a>
	    </article>
	    <hr>
	    <article>
	        <h3>First Month of Yoga for $49</h3>
	        <p><small>(New students only)</small>New to Yoga? Come check out Yoga Now, and get started to try out all our yoga classes and get your first month of yoga for only $49!</p>
	        <p><a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Start Yoga Now</a>
	        </p>
	    </article>
	    <hr>
	    <article>
	        <h3>Monthly Yoga Membership $99</h3>
	        <p>Now is a great time to join Yoga Now and get unlimited yoga classes, 10% discount on retail purchases, workshops, and free use of sauna and steam room and mat rental.</p>
	        <p><a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Sign Up Now</a>
	        </p>
	    </article>
	    <hr>
	    <article><strong>Yoga Gift Certificates</strong>
	        <br>
	        <a class="btn btn-primary" href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=41&amp;sLoc=0" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">Buy Now</a>
	    </article>
	</aside>
  	<section class="main col-lg-8">
		 <script type="text/javascript">// <![CDATA[
		healcode_widget_id = "8d20522d33";   healcode_widget_name = "enrollments";   healcode_widget_type = "mb";   document.write(unescape("%3Cscript src='https://www.healcode.com/javascripts/hc_widget.js' type='text/javascript'%3E%3C/script%3E"));   // Healcode Enrollment Widget for Yoga Now Chicago : Events &#038; Workshops - Summary
		// ]]></script>

		<noscript>Please enable Javascript in order to get <a href="https://www.healcode.com" target="_blank">HealCode</a> functionality</noscript>
  	</section>
</div><!-- .welcome -->