---
layout: page
title: Yoga Now
description: "Massage"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<ul>
            <li><a href="http://www.ashtanga.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.ashtanga.com/', 'Ashtanga']);" target="_blank">Ashtanga</a></li>
            <li><a href="http://www.forrestyoga.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.forrestyoga.com/', 'Forrest Yoga']);" target="_blank">Forrest Yoga</a></li>
            <li><a href="http://www.sevensacreddirections.weebly.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.sevensacreddirections.weebly.com/', 'Singing Man']);" target="_blank">Singing Man</a></li>
            <li><a href="http://www.spiritlightinsight.com/Home_Page.php" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.spiritlightinsight.com/Home_Page.php', 'Spirit Light Insight']);" target="_blank">Spirit Light Insight</a></li>
            <li><a href="http://www.everydaymedicinewoman.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.everydaymedicinewoman.com/', 'Every Day Medicine Woman']);" target="_blank">Every Day Medicine Woman</a></li>
            <li><a href="http://www.ashtangayogi.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.ashtangayogi.com/', 'David Williams']);" target="_blank">David Williams</a></li>
            <li><a href="http://www.buddhistartifacts.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.buddhistartifacts.com/', 'Richard Rudis']);" target="_blank">Richard Rudis</a></li>
            <li><a href="http://www.sacredsoundgongbath.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.sacredsoundgongbath.com/', 'Gong Bath']);" target="_blank">Gong Bath</a></li>
            <li><a href="http://www.ayurvedamysore.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.ayurvedamysore.com/', 'Ayurveda Mysore']);" target="_blank">Ayurveda Mysore</a></li>
            <li><a href="http://www.expandedlove.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.expandedlove.com/', 'Expanded Love']);" target="_blank">Expanded Love</a></li>
            <li><a href="http://www.oshochicago.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.oshochicago.org/', 'Osho']);" target="_blank">Osho</a></li>
        </ul>
  	</section>
</div><!-- .welcome -->