---
layout: page
title: Yoga Now
description: "Massage"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<div class="entry_content"><div class="row">
        <div class="span4">
        <h3>Appointments</h3>
        <p>Please book your appointment online at <a href="http://clients.mindbodyonline.com/ws.asp?studioid=2260&amp;stype=-9" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://clients.mindbodyonline.com']);" target="_blank">mindbodyonline</a> for best selection.</p>
        <p>If you have a Groupon coupon, choose “Groupon Massage” and enter the number underneath the bar code (8 digit number), in the Coupon Code section.</p>
        <p>If you have a Swedish Massage Sale or Deep Tissue Massage Sale, please choose “Massage Sale.”</p>
        <p>If you have questions or are having difficulties, please call the studio at 312.280.9642 or <a href="mailto:info@yoganowchicago.com?subject=Healing%20Appointment%20with%20YogaNowChicago">email</a> us.&nbsp; Advance notice is recommended to secure the time you prefer. &nbsp; Our healing space is open from 9am to 8pm, 7 days a week.</p>
        </div>
        <div class="span4">
        <h3>Checking in and out</h3>
        <p>Please arrive 15 minutes before your scheduled time to allow the therapist time to perform a health history consultation. Following your service you are welcome to a complimentary use of our sauna or steam room.</p>
        <p>&nbsp;</p>
        <h3>Payments</h3>
        <p>We accept cash, check, and all major credit cards.</p>
        </div>
        <div class="span4">
        <h3>Cancellation</h3>
        <p>We require 24 hours notice to cancel/reschedule an appointment, otherwise you are 100% responsible for payment of the therapist time reserved.</p>
        <p>Massage improves circulation and gently affects the immune system. Therefore, during illness it is not recommended to receive a massage. Massage therapists will refuse service in the case of illness, to protect the health of the individual, the therapist, and other clients. Our cancellation policy applies to illness as well, so please plan ahead and reschedule your massage before 24 hours before your appointment if you think you are getting sick.</p>
        </div>
        </div>
        <div class="row">
        <div class="span12">
        <h2>Healing Services Offered</h2>
        </div>
        </div>
        <div class="row">
        <div class="span4">
        <h3>Swedish Massage</h3>
        <p>This technique of massage focuses on promoting a sense of relaxation throughout the body.&nbsp; Light, soothing strokes are applied to encourage a feeling of calm and improve circulation.&nbsp; Swedish Massage relieves tension in the superficial tissues of the body to decrease stress and improve overall healing.<br>
        60 min. $85 / 90 min. $115 / 120 min. $145</p>
        </div>
        <div class="span4">
        <h3>Deep Tissue Massage</h3>
        <p>When we experience stress, or sustain an injury, the body literally holds some aspect of this in the form of muscular tension, and frequently, discomfort or pain.&nbsp; This can lead to headaches, disease, or injury.&nbsp; Deep Tissue Massage helps to relieve this muscular tension by accessing deeper layers of muscle tissue and encouraging relaxation, improving circulation, and relieving muscular pain.&nbsp; Strokes are tailored to meet the needs of the client during each session to facilitate the release of muscle tissue and to improve range of motion.<br>
        60 min. $100 / 90 min. $130 / 120 min. $160</p>
        </div>
        <div class="span4">
        <h3>PreNatal Massage</h3>
        <p>Massage therapy during pregnancy is a healthy way to reduce stress and promote overall wellness for prenatal care.&nbsp; Studies indicate that massage therapy performed during pregnancy can reduce anxiety, decrease symptoms of depression, relieve muscle aches and joint pains, and improve labor outcomes.&nbsp; Discomfort associated with pregnancy can be address with prenatal massage therapy and self care guidance.&nbsp; Prenatal massage therapy is beneficial throughout low-risk pregnancy.<br>
        60 min. $100 / 90 min. $130</p>
        </div>
        </div>
        <div class="row">
        <div class="span4">
        <div>
        <h3>Reiki</h3>
        <p>Reiki directs life force energy into the body through gentle touch.&nbsp; This non-invasive practice is safe, and complements any standard medical treatment prescribed by your doctor.&nbsp; Reiki restores and balances the energy body to increase health and well-being.&nbsp; Reiki brings a deep sense of relaxation, clears unwanted energies, detoxifies, reduces stress, and increases vitality.&nbsp; Clients usually report feeling more relaxed, a sense of peace, lower stress, and lower anxiety during and after a session.<br>
        30 min. $50 / 60 min. $100 / 90 min. $150</p>
        </div>
        <div>
        <h3>Akashic Record Readings</h3>
        <p>The Akashic Records are a vibrational imprint of the soul’s past, present and future possibilities.&nbsp; It is the realm of spiritual guidance and information.&nbsp; Through the Akashic Records, the reader accesses connection to spiritual ancestors, master teachers and loved ones.&nbsp; The wisdom of the Akashic Records will bring greater clarity of possibilities on life’s path, empowering you to make new choices from greater awareness for the highest good for you and everyone involved. Please bring a journal.<br>
        30 min. $50 / 60 min. $100</p>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="span4">
        <h3>Cranio Sacral</h3>
        <p>A gentle-yet-powerful healing modality, craniosacral therapy employs gentle touch, low-velocity manipulations and energy work to improve central nervous system function, while alleviating restrictions and pain in connective// soft tissue to create a deep sense of personal well being and peace.&nbsp; Craniosacral is effective for healing migraines, dizziness//vertigo, join pain, sprains//strains, sinus problems (both acute and chronic), reducing stress, releasing//healing emotional trauma, clearing brain fog, and much more.30 min. $50 / 60 min. $80 / 90 min. $120</p>
        </div>
        <div class="span4"></div>
        </div>
        </div>
  	</section>
</div><!-- .welcome -->