---
layout: page
title: Yoga Now
description: "Prices"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		  <table class="table" border="0" summary="This table displays the moon days" width="335">
        <caption>Traditionally Ashtanga yoga is not practiced on moon days</caption>
        <thead>
        <tr>
        <th class="table-head" colspan="3">2015</th>
        </tr>
        <tr>
        <th>Month</th>
        <th>New Moon</th>
        <th>Full Moon</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>January</td>
        <td>20th – Tuesday</td>
        <td>4th – Sunday</td>
        </tr>
        <tr>
        <td>February</td>
        <td>&nbsp;18th – Wednesday</td>
        <td>3rd – Tuesday</td>
        </tr>
        <tr>
        <td>March</td>
        <td>20th – Friday</td>
        <td>5th – Thursday</td>
        </tr>
        <tr>
        <td>April</td>
        <td>18th – Saturday</td>
        <td>4th – Saturday</td>
        </tr>
        <tr>
        <td>May</td>
        <td>17th – Sunday</td>
        <td>3rd – Sunday</td>
        </tr>
        <tr>
        <td>June</td>
        <td>16th – Tuesday</td>
        <td>2nd – Tuesday</td>
        </tr>
        <tr>
        <td>July</td>
        <td>15th – Wednesday</td>
        <td>1st – Wednesday and<br>
        31st – Friday</td>
        </tr>
        <tr>
        <td>August</td>
        <td>14th – Friday</td>
        <td>29th – Saturday</td>
        </tr>
        <tr>
        <td>Sept.</td>
        <td>13th – Sunday</td>
        <td>27th – Sunday</td>
        </tr>
        <tr>
        <td>October</td>
        <td>12th – Monday</td>
        <td>27th – Tuesday</td>
        </tr>
        <tr>
        <td>Nov.</td>
        <td>11th – Wednesday</td>
        <td>25th – Wednesday</td>
        </tr>
        <tr>
        <td>Dec.</td>
        <td>11th – Friday</td>
        <td>25th – Friday</td>
        </tr>
        </tbody>
        </table>
  	</section>
</div><!-- .welcome -->