---
layout: page
title: Yoga Now
description: "Prices"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<table class="table">
  		<tbody>
  		<tr>
  		<td>Drop-in class</td>
  		<td></td>
  		<td>$20</td>
  		</tr>
  		<tr>
  		<td>Series</td>
  		<td></td>
  		<td></td>
  		</tr>
  		<tr>
  		<td>5 classes</td>
  		<td></td>
  		<td>$75</td>
  		</tr>
  		<tr>
  		<td>10 classes</td>
  		<td></td>
  		<td>$140</td>
  		</tr>
  		<tr>
  		<td>20 classes</td>
  		<td></td>
  		<td>$240</td>
  		</tr>
  		<tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		</tr>
  		<tr>
  		<td>1st Time Students – Monthly</td>
  		<td></td>
  		<td>$49</td>
  		</tr>
  		<tr>
  		<td>Monthly Membership</td>
  		<td></td>
  		<td>$109</td>
  		</tr>
  		<tr>
  		<td>Monthly without Membership</td>
  		<td></td>
  		<td>$119</td>
  		</tr>
  		<tr>
  		<td>Yearly</td>
  		<td></td>
  		<td>$1,200</td>
  		</tr>
  		</tbody>
  		</table>
  	</section>
</div><!-- .welcome -->