---
layout: page
title: Yoga Now
description: "Home"
header_img: "o-beach-yoga-facebook.jpg"
---

<div class="post-preview">
  	<section>
  		<iframe id="blockrandom" name="iframe" src="http://clients.mindbodyonline.com/ws.asp?studioid=2260&stype=-12&sView=day&sDate=9/19/2014" width="100%" height="1000" scrolling="auto" align="top" frameborder="0" class="wrapper">

      </iframe>
  	</section>
</div><!-- .welcome -->